{% extends "base.html" %}

{% load static %}

{% block title %}Edit Room Booking{% endblock %}

{% block content %}

<div class="container booking">
    <div id="msg">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Edit Room Booking</h1>
        {% csrf_token %}
        {{ form.media }}
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Edit Booking</button>
        </div>
    </form>
</div>

{% endblock %}