{% extends "base.html" %}

{% load static %}

{% load ratings %}

{% block title %}Rooms{% endblock %}

{% block content %}

{% include 'includes/welcome.html' %}

<h1 class="text-center p-2">
    Room Categories
</h1>
<div class="container booking d-flex flex-row flex-wrap justify-content-center">
    {% for rooml in roomlist %}
    <div class="card m-3" style="width: 18rem;">
        <img src="{{rooml.image.url}}" class="card-img-top" alt="{{rooml.image_alt}}">
        <div class="card-body">
                <a href="{% url 'room_detail' rooml.id %}" class="rooms" aria-label="Click to view {{rooml.title}}">
                <h2 class="card-title">{{ rooml.title }}</h2>
                </a>
                <!-- Rating star -->
                <div class="rating">
                    {% ratings rooml %}
                </div>
                <br>
            </div>
        </div>
    {% endfor %}
</div>

    {% endblock %}