{% extends "base.html" %}

{% load static %}

{% block title %}Your Booking{% endblock %}

{% block content %}

<div class="msg">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="container booking d-flex flex-row flex-wrap justify-content-center">
    {% for book in roombook %}
    {% if request.user == book.user %}
    <div class="card m-3" style="width: 18rem;">
        <img src="{{ book.room.image.url }}" class="card-img-top" alt="{{ book.image_alt }}">
        <a href="{% url 'room_detail' book.room.id %}" class="rooms" aria-label="Click to view {{book.title}}">
            <div class="card-body">
                <p class="card-title">{{ book.room }}</p>
                <p class="card-text">{{ book.user }}</p>
                <p class="card-text">{{ book.ch_in}}</p>
                <p class="card-text">{{ book.ch_out}}</p>
            </div>
        </a>
            <div class="text-center">
                {% if book.id %}
                <a href="{% url 'edit_roombooking' book.id %}" class="btn btn-primary mt-2" >Edit
                </a>
                <a href="{% url 'delete_room' book.id %}" class="btn btn-primary mt-2">Delete
                </a>
                {% endif %}
            </div>

        </div>

    {% endif %}
    {% endfor %}
</div>

{% endblock %}