{% extends "base.html" %}

{% block title %}Rooms{% endblock %}

{% block content %}

<h1 class="text-center p-2">
    Room Categories
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">
    <div class="row">
        {% for room in roomlist %}
        <a href="" class="rooms" aria-label="Click to view {{room.title}}">
            <div class="card" style="width: 18rem;">
                <img src="{{room.image.url}}" class="card-img-top" alt="{{room.image_alt}}">
                <div class="card-body">
                    <h2 class="card-title">{{ room.title }}</h2>
                    <p class="card-text">{{ room.excerpt }}</p>
                    <p class="card-text">{{ room.description|truncatechars:100|safe}}</p>
                    <!-- Rating star -->
                    <div class="rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                </div>
            </div>
        </a>


        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endblock %}