{% extends "base.html" %}

{% load static %}

{% load ratings %}

{% block title %} Room Detail - {{room.title}}{% endblock %}

{% block content %}
<div id="msg">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="container booking">
    <div class="roomdetail-info mt-3 p-1">
        <div class="card m-1">
            <a href="{{ room.image.url }}" target="_blank" aria-label="Click to view the image">
                <img src="{{ room.image.url }}" alt="{{ room.image_alt }}" class="roomdetail-pic">
            </a>
        </div>
        <div class="card m-1">
            <a href="{{ room.imageOne.url }}" target="_blank" aria-label="Click to view the image">
                <img src="{{ room.imageOne.url }}" alt="{{ room.imageOne_alt }}" class="roomdetail-pic">
            </a>
        </div>
        <div class="card m-1">
            <a href="{{ room.imageTwo.url }}" target="_blank" aria-label="Click to view the image">
                <img src="{{ room.imageTwo.url }}" alt="{{ room.imageTwo_alt }}" class="roomdetail-pic">
            </a>
        </div>
    </div>
</div>



<div class="container">
    <div class="roomdetail-info mt-3 p-1">
        <div class="room-detail">
            <h1 class="text-center">{{ room.title }}</h1>
            <p class="text-center">Detail of {{ room.title }}</p>
            <hr />
            <div class="row">
                <div class="col-6">
                    <p class="p-2"><strong>{{ room.features|safe }}</strong></p>
                    <p class="p-2"><strong>{{ room.size }}</strong></p>
                    <p class="p-2"><strong>Bed: </strong> {{ room.beds }}</p>
                </div>
                <div class="col-6">
                    <h3 class="p-2">Service</h3>
                    <p class="p-2">{{room.serviceOne|safe}} </p>
                    <p class="p-2">{{room.serviceTwo|safe}}</p>
                </div>
            </div>
            <div class="text-center">
                <a href="{% url 'booking_form' %}">
                    <button type="submit" class="btn btn-primary mt-2">Create Booking</button>
                </a>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container d-flex flex-row flex-wrap">
    {% if request.user.is_authenticated %}
    {% if user_booked %}
    <form action="{% url 'room_detail' room.id %}" method="POST" style="width: 45rem;">
        {% csrf_token %}
        {{ form|crispy }}
        <h5>Write A Review</h5>
        <p>How do you rate our room booking service?</p>
        <div>
            <!-- star -->
            <label>Rating: </label>
            <br>
            <div class="rating">
                {% ratings room %}
            </div>

            <br>
            Review Title:
            <input type="text" class="form-control" name="title">
            <br>
            Review:
            <textarea name="comment" rows="4" class="form-control"></textarea>
            <br>
            <button type="submit" class="btn btn-primary mt-2">Submit Review</button>
        </div>
    </form>
    {% else %}
                <p>You haven't booked this room. <span><a href="{% url 'booking_form' %}">Book Now</a></span></p>
    {% endif %}
    {% else %}
    <p>You haven't logged in. <span><a href="/accounts/login/">Login Now</a></span></p>
    {% endif %}
</div>
<br>

<div class="container d-flex flex-row flex-wrap">
    <h3>Customer Review</h3>
</div>
<div class="container d-flex flex-row flex-wrap justify-content-centerw">
    {% for review in reviews %}
    <div class="card m-3">
        <div class="card-body">
            <div class="review-img w-100">
                {% if profile.image.url is not none %}
                <img src="{{ profile.image.url }}" alt="{{profile.user.username}}'s profile image">
                {% else %}
                <img src="{% static '/images/no-photography-icon.png' %}" alt="image not found icon">
                {% endif %}
                <div class="text">
                    <span class="date text-muted float-md-right">{{ review.created_on }}</span>
                    <h6 class="mb1">{{ review.user }}</h6>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div>
                {% ratings review %}
            </div>
            <div>
                {{ review.title }}
            </div>
            <div>
                {% include 'includes/toggle_content.html' %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}