{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div id="msg">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<div class="mt-5">
    <div class="container booking">
        <form method="POST" action="{% url 'edit_profile' request.user.id %}" class="p-2 form" enctype="multipart/form-data">
            <h2 class="text-center">Edit Profile</h2>
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-25">Edit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
