{% extends "base.html" %}

{% load static %}

{% block title %}Room Booking{% endblock %}

{% block content %}

<div id="msg">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<!-- Modal content -->
<div class="container">
    <span class="close fs-1 pe-2">&times;</span>
    <form method="POST" action="{% url 'edit_profile' request.user.id %}" class="mb-2 p-2"
        enctype="multipart/form-data">
        <h2 class="text-center fs-4">Edit Profile</h2>
        {% csrf_token %}
        {{ form|crispy }}
        {{ form.media }}
        <div class="d-flex justify-content-center">
            <a href="{% url 'profile' request.user.id %}" class="btn btn-primary">Edit</a>
        </div>
    </form>
</div>
{% endblock %}