@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /** Fonts */
    --title: 'Exo', sans-serif;
    --main-font: 'Roboto', sans-serif;

    /** Colours */
    --background: #3f3f3f;
    --blue: hsl(216, 85%, 34%);
    --black:#000;
    --dark-blue: #808edd;
    --white: #fff;
    --orange: #f1a520;

    /** Utils */
    --smal-box-shadow: 2px -2px 9px 0 #42333381;
    --border: 2px solid #00000010;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--title);
}
main {
    flex: 1 0 auto;
    background-color: var(--white);
}
/* Header */
.navbar {
    background-color: var(--dark-blue);
    box-shadow: var(--smal-box-shadow);
}
a.nav-link {
    color: var(--black);
}

.navbar .btn {
    color: var(--black);
}

img.logo {
    width: 3.75rem;
    height: 1.75rem;
}

.active {
    border-bottom: 2px solid var(--black);
}

/* Footer */
footer {
    flex-shrink: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: var(--border);
}
#footer {
    position: relative; 
}

#footer-bg {
    position: absolute;
    width: 100%;
    height: 90%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -1; 
    filter: brightness(50%);
}

#services,
#contact,
#social-icon {
    position: relative;
}
.social-icon {
    height: 1.2rem;
    margin: 0.2rem;
}

.info-box h3,
.info-box p,
.info-box p a {
    list-style-type: none;
    text-decoration: none !important;
    color: white;
    font-weight: 900;
}

/* Form */

.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 7px;
}

/* Rooms */

.card {
    height: 90%;
    margin-top: 1rem;
}

.rooms {
    text-decoration: none;
    color: var(--black);
}

.rooms:hover {
    cursor: pointer;
}

/* Star Rating */
div.rating {
    width: fit-content;
    height: fit-content;
}
.rating > input{
    display:none;
}
.rating {
    display: inline-block;
    border: 0;
}

.rating > label {
    float: right;
}
/* display star rating */

.rating > label::before{
    display: inline-block;
    font-size: 1.2rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

.rating .half::before {
    content: "\f005";
    position: absolute;
    padding-right: 0;
}

/* .rating > label:hover:before,
.rating > label:hover ~ label:before {
    opacity: 1 !important;
    } */

input:checked ~ label, label:hover ~ label{
    color: gold;
    }

/* Style labels when radio input is checked and when hovering */
input:checked + label:hover,
input:checked ~ label:hover,
input:checked ~ label:hover ~ label,
label:hover ~ input:checked ~ label {
    color: rgb(236, 174, 58);
}

/* room_detail */
.roomdetail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.roomdetail-container {
    display: flex;
    flex-direction: column;
}

.services, .instructions, .room-detail {
    width: 100;
}

.roomdetail-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomdetail-pic {
    width: 22rem;
    height: 25rem;
    background: center center / cover no-repeat;
}

/* home */

.room-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

a.img-container {
    position: relative;
    text-align: center;
    color: #fff;
    margin: 1%;
    overflow: hidden;
    text-decoration: none;
    border: 2px solid goldenrod;
    box-shadow: var(--smal-box-shadow);
}

a.img-container:hover {
    color: var(--dark-blue);
}

.img-container img {
    width: 100%;
    height: auto;
}

.centered {
    width: 100%;
    background-color: #3f3f3f;
    transform: translate(-50%, -50%);
    top: 92%;
    left: 50%;
    position: absolute;
}

.home.container,
.about.container {
    background-color: rgba(224, 224, 222, 0.877);
}

.container.booking {
    background-color: rgba(0, 0, 139, 0.2);
}

/* slide content */

.myCarousel {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 70vh; 
    background: center 75% / cover no-repeat;
  }

#msg {
    position: relation;
}

/* welcome */

.text-center.page-header {
    text-align: center;
    font-weight: 700;
    font-size: 50em;
}

.white-text-with-blue-shadow {
    text-shadow: 1px 1px 2px black,
                 0 0 1em blue,
                 0 0 0.2em blue;
    color: white;
  }

.page-header {
	height: 50vh;
	background: center 75% / cover no-repeat;
}

#welcome-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.welcome-section {
    position: relative; 
}

.vertical-center {
    position: relative;
    top: 60%;
}

/* Profiles */

.profile-img {
    width: 280px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.profile-roombooking {
    width: 100%;
}

/* review */
.review-img img {
    border-radius: 8px;
    width: 2rem;
}

/* Map */
#location {
    width: 100%;
  }


/* toggle-content */
.hidden {
    display: none;
}

.toggleButton {
    color: blue;
    cursor: pointer;
}

/* star rating */
.star-ratings .rating-widget {
    font-size: 10px; 
}



@media screen and (min-width:40em) {
    
    .form {
        width: 50%;
    }

    .room-cont {
        flex-direction: row;
    }

    .img-container {
        flex-direction: row;
        width: 30%;
    }
}


@media screen and (min-width: 62.5em) {
    .main-title {
        width: 50%;
    }
    
    .roomdetail-info {
        flex-direction: row;
        border: 1px solid var(--black);
    }

    .roomdetail-img {
        width: 40%;
        margin: 0 auto;
    }

    .room-detail {
        width: 60%;
        padding: 2rem;
    }

    .roomdetail-container {
        flex-direction: row;
    }

    .services {
        width: 33.33%;
    }

    .instructions {
        width: 66.66%;
    }
    .profile {
        flex-direction: row;
    }
    .info {
        width: 30%;
    }
    .profile-roombooking {
        width: 70%;
        padding: 1.4rem 2.8rem;
    }
    .profile-roombooking a {
        text-decoration: none;
    }
}