{% load static %}

<footer>
    <!-- Social media icons -->
    <a href="#" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
        <img src="{% static '/images/linkedin.webp' %}" alt="Linkedin Icon" class="social-icon">
    </a>
    <a href="#" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static '/images/instagram.webp' %}" alt="Instagram Icon" class="social-icon">
    </a>
    <a href="#" target="_blank" rel="noopener" aria-label="Youtube - Opens in a new tab">
        <img src="{% static '/images/youtube.webp' %}" alt="Youtube Icon" class="social-icon">
    </a>
    <a href="#" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
        <img src="{% static '/images/twitter.webp' %}" alt="Twitter Icon" class="social-icon">
    </a>
    <a href="#" target="_blank" rel="noopener" aria-label="Github - Opens in a new tab">
        <img src="{% static '/images/github.webp' %}" alt="Github Icon" class="social-icon">
    </a>
</footer>