{% load static %}

<header>
  {% with request.resolver_match.url_name as url_name %}
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Logo -->
      <a class="navbar-brand" href="{% url 'home' %}"><img src="https://res-console.cloudinary.com/dliocvbsf/thumbnails/transform/v1/image/upload/Y19saW1pdCxoXzE2MDAsd18xNjAwLGZfanBnLGZsX2xvc3N5LmFueV9mb3JtYXQucHJlc2VydmVfdHJhbnNwYXJlbmN5LnByb2dyZXNzaXZl/v1/bXlpbWFnZXMvbG9nbw==/template_primary" alt="room booking logo" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Navigation items -->
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'aboutpage' %}active{% endif %}" href="{% url 'aboutpage' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'room_list' %}active{% endif %}" href="{% url 'room_list' %}">Rooms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'room_bookinglist' %}active{% endif %}" href="{% url 'room_bookinglist' %}">Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'booking_form' %}active{% endif %}" href="{% url 'booking_form' %}">Form</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_logout' %}active{% endif %}" href="/accounts/logout/">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_signup' %}active{% endif %}" href="/accounts/signup/">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if url_name == 'accounts_login' %}active{% endif %}" href="/accounts/login/">Login</a>
          </li>
          {% endif %}
        </ul>
        <!-- form for search bar -->
        <form class="d-flex" role="search" method="GET" action="{% url 'room_list' %}">
          <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  {% endwith %}
</header>


