<div class="content">
    <span class="truncated">{{ reviews.comment|slice:":100" }}</span>
    <span class="full hidden">{{ reviews.comment|slice:"100:" }}</span>
    <span class="toggleButton">Toggle </span>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var toggleButtons = document.querySelectorAll(".toggleButton");
        toggleButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                var content = button.closest(".content");
                content.querySelector(".truncated").classList.toggle("hidden");
                content.querySelector(".full").classList.toggle("hidden");
            });
        });
    });
</script>
