{% load static %}

<section id="home" class="welcome-section">
    <img src="https://res-console.cloudinary.com/dliocvbsf/thumbnails/transform/v1/image/upload/Y19saW1pdCxoXzE2MDAsd18xNjAwLGZfanBnLGZsX2xvc3N5LmFueV9mb3JtYXQucHJlc2VydmVfdHJhbnNwYXJlbmN5LnByb2dyZXNzaXZl/v1/bXlpbWFnZXMvYnVpbGRpbmctMw==/template_primary" alt="Welcome image" id="welcome-bg">
    <div class="text-center page-header">
        <div class="vertical-center">
            <h1>Welcome to Panora Hotel</h1>
            <h3>The comfort Hotel of Your Choice.</h3>
        </div>
    </div>
</section>

